.svg-arrow {
	background: url("svg/sprite.css-6f263f18.svg") 50.939663699307616% 62.836185819070906% no-repeat;
}

.svg-arrow-dims {
	width: 17px;
	height: 29px;
}

.svg-bg_motivator {
	background: url("svg/sprite.css-6f263f18.svg") 0 0 no-repeat;
}

.svg-bg_motivator-dims {
	width: 1028px;
	height: 189px;
}

.svg-chart {
	background: url("svg/sprite.css-6f263f18.svg") 0 100% no-repeat;
}

.svg-chart-dims {
	width: 181px;
	height: 181px;
}

.svg-close {
	background: url("svg/sprite.css-6f263f18.svg") 52.98804780876494% 62.07729468599034% no-repeat;
}

.svg-close-dims {
	width: 24px;
	height: 24px;
}

.svg-logo {
	background: url("svg/sprite.css-6f263f18.svg") 79.16152897657213% 48.33759590792839% no-repeat;
}

.svg-logo-dims {
	width: 217px;
	height: 47px;
}

.svg-logo-footer {
	background: url("svg/sprite.css-6f263f18.svg") 38.208616780045354% 75.14619883040936% no-repeat;
}

.svg-logo-footer-dims {
	width: 146px;
	height: 96px;
}

.svg-logo-inner {
	background: url("svg/sprite.css-6f263f18.svg") 0 51.08108108108108% no-repeat;
}

.svg-logo-inner-dims {
	width: 321px;
	height: 68px;
}

.svg-logo-inner-hover {
	background: url("svg/sprite.css-6f263f18.svg") 45.403111739745405% 51.08108108108108% no-repeat;
}

.svg-logo-inner-hover-dims {
	width: 321px;
	height: 68px;
}

.svg-logo-mob {
	background: url("svg/sprite.css-6f263f18.svg") 98.62227324913891% 46.09756097560975% no-repeat;
}

.svg-logo-mob-dims {
	width: 157px;
	height: 28px;
}

.svg-logo-motiv {
	background: url("svg/sprite.css-6f263f18.svg") 20.756880733944953% 83.98692810457516% no-repeat;
}

.svg-logo-motiv-dims {
	width: 156px;
	height: 132px;
}

.svg-menu {
	background: url("svg/sprite.css-6f263f18.svg") 55.37848605577689% 62.07729468599034% no-repeat;
}

.svg-menu-dims {
	width: 24px;
	height: 24px;
}

.svg-menu-hover {
	background: url("svg/sprite.css-6f263f18.svg") 57.76892430278885% 62.07729468599034% no-repeat;
}

.svg-menu-hover-dims {
	width: 24px;
	height: 24px;
}

.svg-shevron {
	background: url("svg/sprite.css-6f263f18.svg") 99.70559371933268% 43.75% no-repeat;
}

.svg-shevron-dims {
	width: 9px;
	height: 6px;
}

.svg-shevron-black {
	background: url("svg/sprite.css-6f263f18.svg") 99.70559371933268% 45.138888888888886% no-repeat;
}

.svg-shevron-black-dims {
	width: 9px;
	height: 6px;
}

.svg-shevron-blue {
	background: url("svg/sprite.css-6f263f18.svg") 99.70559371933268% 46.52777777777778% no-repeat;
}

.svg-shevron-blue-dims {
	width: 9px;
	height: 6px;
}

.svg-shevron-hover {
	background: url("svg/sprite.css-6f263f18.svg") 99.70559371933268% 47.916666666666664% no-repeat;
}

.svg-shevron-hover-dims {
	width: 9px;
	height: 6px;
}

.svg-whatsapp {
	background: url("svg/sprite.css-6f263f18.svg") 48.493975903614455% 63.45679012345679% no-repeat;
}

.svg-whatsapp-dims {
	width: 32px;
	height: 33px;
}

