<!DOCTYPE html>
<html lang="en">
<head>

  include components/_head

</head>
<body>

  .wrapper.fix-footer

    include components/_header-pets

    section.section
      include content/pets-screen

    include components/_footer

    include components/_modals
    
    include components/_scripts

</body>
</html>