<!DOCTYPE html>
<html lang="en">
<head>

  include components/_head

</head>
<body>

  .wrapper.fix-footer

    include components/_header-main

    section.section
      include content/main-screen-1
    section.section
      include content/main-screen-2
    section.section
      include content/main-screen-3
    section.section
      include content/main-screen-4
    section.section
      include content/main-screen-5

    include components/_footer

    include components/_modals

    include components/_scripts

</body>
</html>