#ourpets
.screen-3.container
  h3.title.title-h3.screen-3__title Our friends who<br> are looking for a house
  .screen-3__row
    .screen-3__slider-prev
      .swiper-button-prev.btn3
        img(src="./assets/img/arrow.svg", alt="arrow")
    .screen-3__slider.swiper-container 
      .swiper-wrapper
    .screen-3__slider-next
      .swiper-button-next.btn3
        img(src="./assets/img/arrow.svg", alt="arrow")
  a.btn.btn1.screen-3__btn(href="pets.html") Get to know the rest
