#help
.screen-4.container
  h3.title.title-h3.screen-4__title How you can help<br> our shelter
  .screen-4__row
    .screen-4__item.screen-4__item_1
      img.screen-4__img(src="./assets/img/help-icon/help-1.svg", alt="help")
      .screen-4__subtitle Pet food
    .screen-4__item.screen-4__item_2
      img.screen-4__img(src="./assets/img/help-icon/help-2.svg", alt="help")
      .screen-4__subtitle Transportation
    .screen-4__item.screen-4__item_3
      img.screen-4__img(src="./assets/img/help-icon/help-3.svg", alt="help")
      .screen-4__subtitle Toys
    .screen-4__item.screen-4__item_4
      img.screen-4__img(src="./assets/img/help-icon/help-4.svg", alt="help")
      .screen-4__subtitle Bowls and cups
    .screen-4__item.screen-4__item_5
      img.screen-4__img(src="./assets/img/help-icon/help-5.svg", alt="help")
      .screen-4__subtitle Shampoos
    .screen-4__item.screen-4__item_6
      img.screen-4__img(src="./assets/img/help-icon/help-6.svg", alt="help")
      .screen-4__subtitle Vitamins
    .screen-4__item.screen-4__item_7
      img.screen-4__img(src="./assets/img/help-icon/help-7.svg", alt="help")
      .screen-4__subtitle Medicines
    .screen-4__item.screen-4__item_8
      img.screen-4__img(src="./assets/img/help-icon/help-8.svg", alt="help")
      .screen-4__subtitle Collars / leashes
    .screen-4__item.screen-4__item_9
      img.screen-4__img(src="./assets/img/help-icon/help-9.svg", alt="help")
      .screen-4__subtitle Sleeping areas