.screen-5.container
  .screen-5__row
    .screen-5__col-1
      img.screen-5__img(src="./assets/img/donation-dog.png", alt="donation-dog")
    .screen-5__col-2
      h3.title.title-h3.screen-5__title You can also<br> make a donation
      h4.screen-5__subtitle Name of the bank / Type of bank account
      a.screen-5__info(href="https://www.bankofamerica.com/" target="_blank")
        img.screen-5__icon(src="./assets/img/card.svg", alt="card")
        .screen-5__card 8380 2880 8028 8791 7435
      .screen-5__description Legal information and lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas a ipsum at libero sagittis dignissim sed ac diam. Praesent ultrices maximus tortor et vulputate. Interdum et malesuada fames ac ante ipsum primis in faucibus.
- var main = true
