.screen-6.container
  h3.title.title-h3.screen-6__title Our friends who<br> are looking for a house
  .screen-6__row

  .pagination
    .pagination__item.btn3.pagination__item-start(data-page="start") <<
    .pagination__item.btn3.pagination__item-last(data-page="prev") <
    .pagination__item.btn3.pagination__item-number 1
    .pagination__item.btn3.pagination__item-next(data-page="next") >
    .pagination__item.btn3.pagination__item-end(data-page="end") >>
