.header__menu.header-main__menu.e_menu
	div

header.header.header-main
	.header-container.container
		.header__left
			a.header-logo(href="main.html")
				h1 Cozy House
				p Shelter for pets in Boston
		.header__right
			nav
				ul.menu
					li.menu__item.active
						a(href="main.html") About the shelter

					li.menu__item
						a(href="pets.html") Our pets
						
					li.menu__item
						a(href="#help") Help the shelter
						
					li.menu__item
						a(href="#contacts") Contacts



